<div class="col-sm-3">
  <div class="left-sidebar">
    <h2><%= t ".category" %></h2>
    <div class="panel-group category-products" id="accordian">
    </div>
    <div class="price-range">
      <h2><%= t ".price" %></h2>
      <div class="well text-center" id="range-price">
      </div>
    </div>
    <div class="shipping text-center">
      <%= image_tag "home/shipping.jpg" %>
      <%= image_tag "home/pricing.png", class: "pricing" %>
    </div>
  </div>
</div>
