  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">

    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">

                <li>
                    <a href="/admin/users">
                        <i class="fas fa-user"></i>Users</a>
                </li>
                <li>
                    <a href="/admin/categories">
                        <i class="fa fa-list-alt"></i>Categories</a>
                </li>
                <li>
                    <a href="/admin/products">
                        <i class="fas fa-shopping-bag"></i>Products</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-shopping-cart"></i>Orders</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
