<div class="col-md-12">
<div class="card">
    <div class="card-header">
        <strong>New</strong> Category
    </div>
    <div class="card-body card-block">
        <%= render partial: "admin/categories/form" %>
    </div>

</div>
