@import "variable_color";

.container_radio {
  height: 100px;
  position: relative;
  p {
    margin-top: 20px;
  }
  #radio_button_one {
    position: absolute;
    left: -200px;
    top: 0px;
    height: 20px;
  }
  #radio_button_two {
    position: absolute;
    left: -200px;
    bottom: 30px;
    height: 20px;
  }
}
.h2-user {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: 320px;
  font-weight: bold;
  img {
    width: 100%;
  }
  div {
    margin: 24px 0;
  }
  div {
    a {
      text-decoration: none;
      font-size: 22px;
      color: $black;
    }
    .title {
      color: $grey;
      font-size: 18px;
    }
    a:hover {
      opacity: 0.7;
    }
  }
  p {
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: $white;
      background-color: $black;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    button:hover {
      opacity: 0.7;
    }
  }
}
.submit-search{
  border-radius: 7px;
  background: $white-light;
  padding: 5px 10px;
  i {
    color: $gray;
  }
}
#range-price {
  input {
    background-color: $white-light;
    color: $gray;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  a {
    background-color: $gray;
    color: $white-light;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    &:hover {
      background-color: $organ;
    }
  }
}

#time-comment {
  font-size: 15px;
}

#wish_box {
  position: absolute;
  top: 30px;
  right: 100px;
}

.h3-follow {
  float: right;
  color: $organ;
}

.h3-follow:hover {
  color: $organ;
}

.h3-follow-o {
  float: right;
  color: $organ;
}
