<% if sub_categories.childs.blank? %>
  <li><%= link_to sub_categories.name, filter_items_path(cate_id: sub_categories.id), remote: true %></li>
<% else %>
  <ul>
    <%= render partial: "categories/sub_categories", collection: sub_categories.childs, as: :sub_categories %>
  </ul>
<% end %>
