<section>
  <div class="container">
    <div class="row">
      <%= render "static_pages/sidebar" %>
      <div class="col-sm-9 padding-right">
        <div class="features_items" id="product-js">
          <h2 class="title text-center"><%= t ".wishlist" %></h2>
          <%= render partial: "products/products", collection: @products, as: :product %>
      </div>
    </div>
    </div>
  </div>
</section>
